@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Got any Feedback, Feature Requests, or Bug Reports?</strong> Please feel free to add an 
    <a href="https://github.com/codingoutloud/azuremap/issues">Issue on GitHub</a>.
    <br />
    <strong>Want to contact the Author?</strong> Please feel free to reach out on Twitter (<a href="https://twitter.com/codingoutloud">@@codingoutloud</a>) or by email (<a href="mailto:codingoutloud+azuremap@gmail.com">codingoutloud at gmail</a>).
    <br />
    <strong>Want to change the code?</strong> Please feel free to fork it on GitHub (<a href="https://github.com/codingoutloud/azuremap">github.com/codingoutloud/azuremap</a>) and send a pull request..
</address>